UseTab: Never
IndentWidth: 4
TabWidth: 4
BreakTemplateDeclarations: Yes
AlwaysBreakBeforeMultilineStrings: true
BreakAfterReturnType: ExceptShortType
ColumnLimit: 120
PointerAlignment: Left
ReferenceAlignment: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortLoopsOnASingleLine: true
# AllowShortLoopsOnASingleLine: false
IntegerLiteralSeparator:
  Decimal: 3
